.container{
	width: 700px;
	margin: 70px auto;
	padding: 0px 20px;
	border-radius: 5px;
}

@media (max-width: 960px){
	.container{
		width: 700px;
	}
}

@media (max-width: 720px){
	.container{
		width: 500px;
	}
}

@media(max-width: 540px){
	.container{
		width: 300px;
	}
}

